/* 
Requirements:
Do not change the layout or image sizes.
The following are the background menus and the screen menu text colors for the project.
Eclipse =  Background-Color: #649549
Buttons = #6CB840
Texts = #EAAB1B(light orange)  and  #6CB840(light green)
Hot Deals Section = background-color: #C9ECB5
Contact = background-color: #FFD77C
Footer : background-color: #C9ECB5
Font type: Poppins
*/
html{
    font-family:Poppins ;
}
.container0{
    background-color:#d6d6d6 ;
    height: 600px;    

}
.container1{

}

.container2{
    background-color:#f2ffea ;


}   
    .exploreMenu
        {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;
        
        }
    .expmenu 
        {
            background-color: white;
            margin-bottom: 20px;
            border-radius: 0 0 40px 0;
            flex-wrap: wrap;
            padding: 20px;
            width: 33%;
        
        }
    .expmenu img 
        {
            width: 50%;
            float: left;
        }

.container3 {
    background-color: #C9ECB5; 
    padding: 10px 10px;
}
    .container3 h2
        {
           text-align: center; 
        }

    .container3 h2 span
        {
           color: #6CB840;
        }
    #hotdeals
        {
           display: flex; 
           justify-content: space-between;
        }
    #juice
        {
            position: relative;
            top: -150px;
            
        }
    #meat
        {
            position: absolute;
            left: 50px;
            margin-top: 98px;
        }
    #hotdealsleft 
        {
            padding: 10px 20px;
        }
    #hotdealsright{
        width: 50%;
        padding: 10px 20px;
        
    }
    #hotdealsright h2
        {
            text-align: left;
        }
    #hotdealsright h1
        {
            color:#6CB840;
            margin-top: 10px;
        }

.container4 {
    display: block;
    background-color: #FFD77C;
    text-align: center;
    padding: 15px 20px 70px 20px;

}

    .container4 p
        {
            width: 50%;
            margin: auto;
            margin-bottom: 10px;
        }
    .container4 input
        {
            padding: 15px;  
            margin-bottom: 10px; 
            border: none;
            border-radius: 30px;
        }
    .container4 input[type=email]
        {
           width: 40%; 
        }
   .container4 input[type=button]
        {
           width: 180px;
        }

.container5{
    background-color: #C9ECB5;
    display: flex;
    padding: 30px 10px;
    
}
    #divider{
        border-left: 3px dashed limegreen;
        height: 80px;
        padding: 20px;
        position: relative;
        margin: 45px 0;
    }
    #footerend{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 30%;
    }
    
    .footersections{
        width: 20%;
        
    }

    #footerend img{
        margin-bottom: 15px;
        height: 25px;        
        width: 25px;
        padding: 20px;
        position: relative;
        left: -25px;
    }
    #subscribe{
        padding: 5px 26px;
        width: 100%;
        font-size: 20px;       
    }
    .l-float{
        float: left;
    }
    .r-float{
        float: right;
    }

.buttons
{
        background-color: #6CB840;
        color:white;
        font-weight: bold;
        border: none;
}